body {
    background-color:rgb(226, 180, 112);
    
    
}
 
#GridContainer{
    height: 33vh;
}

#GridContainer #item1{
    display: grid; /* change display property (from black level to grid)*/
    grid-template-areas: 
    'picture login login login login login login login login login login login login login'
    'picture nav nav nav nav nav nav nav nav nav nav nav nav nav'
    'picture search search search search search search search search search search search search search'
    ;
    
}

#GridContainer #item3{
    display: grid; /* change display property (from black level to grid)*/
    grid-template-areas: 
    'info customerService map media'
    ;
    
}

#picture {
    grid-area: picture;
    width: 100%;
    height: 19vh;
}

#login {
    grid-area: login;
    width: 100%;
    height: 6vh;
}

#nav {
    grid-area: nav;
    width: 100%;
    height: 6vh;
}

#search {
    grid-area: search;
    width: 100%;
    height: 6vh;
}

#item2{
    grid-area: mid;
    /* height: 62vh; */
}

#item3{
    grid-area: mid;
    height: 15vh;
}

.right{
    text-align: right;
    font-family:MyFont;
    border: 1px solid black;
}

.picture{
    width: 48px; height: 48px;
}

.down{
    border: 1px solid black;
}

.center{
    text-align: center;
}

@font-face{
    font-family: MyFont;
    src: url(Roboto-BoldItalic.ttf);
}

@media only screen and (max-width:600px) {
    body {
        background-color: green;
    }
    #GridContainer {
        grid-template-areas: 
        'picture login'
        'picture nav'
        'picture search'
        'mid'
        'dowm'
        ;
    }
}