* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
   }
   
body {
    background-color:rgb(60, 148, 110); 
    font-family: cursive;   
}

#Header{
    grid-area: Header;
    display: grid; /* change display property (from black level to grid)*/
    grid-template-areas: 
    'login login nav nav nav nav picture'
    ;
    background-color: rgba(223, 236, 231, 0.815);
    height: 20h;  
}




/* if footer position grid */
#footer{
    grid-area: footer;
    display: grid; /* change display property (from black level to grid)*/
    grid-template-areas: 
    /* 'info map map media' */
    'media info googleMap googleMap googleMap googleMap googleMap googleMap'
    ;
    background-color: rgba(223, 236, 231, 0.815);
    height: 35vh;
    text-align: center;
}

/* --------------Header AND Footer---------------- */
#media{
    grid-area: media; 
}

#info{
    grid-area:info;
}

#googleMap{
    grid-area:googleMap;
}

/* logo */
.picture_logo{
    grid-area: picture; 
    width: 100%;
    height: 12vh;
}


/* sing up + sign in */
#login {
    grid-area: login;
    height: 6vh;
    margin: auto;
    width: 100%;
    padding: 10px;
    position: absolute; 
}
/* sign out style */
.border {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    /* text-align: center; */
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
    margin: 5px;
  }
  .border:hover {
    background: #F6F9FE;
    color: #174ea6;
  }


  /* Hello user */
.enter {
    align-items: center;
    background-color: rgba(190, 190, 190, 0.959);
    /* border-radius: 24px; */
    /* box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0; */
    color: #3c4043;
    /* cursor: pointer; */
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 16px;
    font-weight:500;
    padding: 10px 20px;
    text-align: center;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    }

/* facebook insta twitter */
.picture{
    width: 48px; height: 48px;
}

/* class footer - every box */
.footer{
    border: 1px solid black;
}



      /* NAVBAR MENU */

      
      #nav{
        margin-top: 10px;
    }

      
      .nav-links a {
        color: rgb(255, 255, 255);
       }
      .menu {
        display: flex;
        gap: 1em;
        font-size: 24px;
        
       }
       .menu li:hover {
        background-color: rgb(151, 190, 166);
        border-radius: 5px;
        transition: 0.3s ease;
       }
       .menu li {
        display:inline-block; /* used to wrap text */
        position:relative;
        float:left;
        left:35%;
        padding: 5px 14px;
       }
        
        /* UTILITIES */
        a {
        text-decoration: none;
       }
       li {
        list-style: none;
       }
    
       
/* ----------Refound Policy------------- */
.Refound {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 8px 2px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
    margin-top: 10px;
  }
  .Refound:hover {
    background-color: rgba(240, 236, 236, 0.849);
    color: #174ea6;
  }


/* ----------------Main----------------- */

.payment_img{
  background-image: url('Pictures/payment2.jpg');
  height: 90vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#payment{
    font-family: cursive;
    border: 1px solid rgba(17, 17, 17, 0.6);
    border-radius: 12px;
	color: rgb(0, 0, 0);
    display: grid;
    background-color: rgb(221, 221, 221);
	position: absolute;
	top: calc(28% - 75px);
	left: calc(55% - 255px);
	/* height: 250px;
	width: 350px; */
	padding: 20px;
	z-index: 2;
    opacity: 0.8;
	font-size: 17px;
	font-weight: 400;
	/* margin-top: 2px; */
    vertical-align: middle;
}

#payment input[type=Submit]{
width: 260px;
	height: 35px;
    text-align: center;
	background: rgb(82, 82, 82);
	border: 1px solid rgba(17, 17, 17, 0.6);
	cursor: pointer;
	border-radius: 2px;
	color: #ffffff;
	font-family: 'Exo', sans-serif;
	font-size: 17px;
	font-weight: 400;
	/* padding: 6px;
	margin-top: 10px; */
    
}
#payment input[type=submit]:hover{
    background-color: black;
	opacity: 0.95;
}
#payment p{
    text-align: center;
}



/* ----------------mobile----------------- */

@media only screen and (max-width:600px) {

    #GridContainer {
        grid-template-areas: 
        'picture login'
        'picture nav'
        'picture search'
        'mid'
        'dowm'
        ;
    }
}

