{% extends 'base.html' %}

{% set page_head_title = 'Sign Up' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('SignUp.static', filename='css/SignUp.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
 <main id="Main" class="login_center">
     <style>
        main{
            background: url("{{ url_for('SignUp.static',filename='media/photo2.jpeg') }}") ;
        }
    </style>
     <div class="login_img"></div>
             <div class="login_text">
                <div class="login_h">
                    <div>SUCCULENTS<span>3D</span></div>
                    {% if message %}
                        <a> {{ message}} </a>
                    {% endif %}
                </div>

                <div class="login">
                    <form action="/insert_user" method="POST" name="signUp" onsubmit="return SignUpvalidateForm()">
                        <input type="text" placeholder="user name" name="username"><br>
                        <input type="email" placeholder="Email" name="email"><br>
                        <input type="text" placeholder="first name" name="firstname"><br>
                        <input type="text" placeholder="last name" name="lastname"><br>
                        <input type="text" placeholder="phone" name="phone"><br>
                        <input type="text" placeholder="address" name="address"><br>
                        <input type="date" placeholder="birth-date" name="birthdate" value="1990-01-01" max="2005-12-31"><br>
                        <input type="password" placeholder=" password" name="password"><br>
                        <input type="password" placeholder="repeat password" name="password2"><br>
                        <input type="Submit" value="Enter">
                    </form>

                </div>

            </div>
  </main>
{% endblock %}


{% block page_body_js %}
    <script src="{{ url_for('SignUp.static', filename='js/SignUp.js') }}"></script>
{% endblock %}
