{% extends 'base.html' %}

{% set page_head_title = 'Payment' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('payment.static', filename='css/payment.css') }}"/>
{% endblock %}


{% block page_body_main_content %}
    <main id="Main" class="payment_img" >
    <style>
    main{
        background: url("{{ url_for('payment.static',filename='media/payment3.jpg') }}") ;
    }
    </style>
            <div id=payment>
                    <form action="/payment" method="POST" name="paymentForm" onsubmit="return paymentValidation()" >
                        <p class="PaymentH"> <label> Choose Delivery Method </label> </p><br>
                        <input type="radio" id="Pick_Up" name="Delivery_Method" value="Pick_Up" onclick="displayHide()">
                        <label for="Pick_Up">Pick Up </label> <br>
                        <input type="radio" id="current_Address" name="Delivery_Method" value="current_Address" onclick="displayHide()">
                        <label for="current_Address">Delivery to current address  </label><br>
                        <input type="radio" id="new_Address" name="Delivery_Method" value="new_Address" onclick="displayShow()">
                        <label for="current_Address" >Delivery to new address  </label><br>

                        <textarea id = "pid" style="visibility: hidden" name="address" cols="50" rows="2" placeholder="address" ></textarea> <br>




                        <br><br>
                        <p class="PaymentH"> Credit Card Detais</p><br>
                        <label for="Card_Number"> Card Number</label>
                        <input type="text" id="Card_Number" name="Card_Number" placeholder="0000 0000 0000 0000"> <br>
                        <label> Expiry Date</label> &#160;
                            <select>
                                <option value="01">January</option>
                                <option value="02">February </option>
                                <option value="03">March</option>
                                <option value="04">April</option>
                                <option value="05">May</option>
                                <option value="06">June</option>
                                <option value="07">July</option>
                                <option value="08">August</option>
                                <option value="09">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                            <select>
                                <option value="22"> 2022</option>
                                <option value="23"> 2023</option>
                                <option value="24"> 2024</option>
                                <option value="25"> 2025</option>
                                <option value="26"> 2026</option>
                            </select>
                        <br>
                        <label for="CVV"> CVV </label> &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
                        <input id="CVV" name="CVV" placeholder="000"> <br><br>
                        <p> Total Price: {{ total_price}} </p><br>
                        <input href="/confirmationOrder" type="submit" value="Submit">
                    </form>
            </div> <br>
    </main>

{% endblock %}


{% block page_body_js %}
    <script src="{{ url_for('payment.static', filename='js/payment.js') }}"></script>
    <script src="{{ url_for('cart.static', filename='js/cart.js') }}"></script>
{% endblock %}
